@import url('https://fonts.googleapis.com/css2?family=Kufam:wght@700&family=Tajawal:wght@400;700&display=swap');
* {
margin: 0;
padding: 0;
box-sizing: border-box;
border: 0;
}


html {
    font-size: 10px;
}

body{
    font-family: 'Tajawal', sans-serif;
    background: #d9e2ec;
}


h3 {
    font-size: 3rem;
    line-height: 1.8;
    color: #014d4d;
    font-size: 3rem;
    text-align: center;
}

nav img {
    width: 200px;
}
nav {
    text-align: center;
    margin: 40px 0;
}

p {
    font-size: 2rem;
    color: #345375;
    line-height: 2;
    text-align: center;
    margin-bottom: 3rem;
    font-weight: 400;
}

.booking {
    text-align: center;
}

.booking input {
    width: 35%;
    margin-bottom: 10px;
    padding: 10px;
}

.booking label {
    font-family: inherit;
    font-size: 1.6rem;
}

.bot{
    font-size: 16px;
    color: black;
    background: #6aaaaa;
    border: none;
}

.bot:hover {
    background: #72bbbb;
}

.dot{
    margin-bottom: none; 
    width: 5%;
    padding: none;
    text-align: none;
}

footer {
    text-align: center;
}

footer input {
    width: 35%;
    margin-bottom: 10px;
    padding: 10px;
}

.booking a {
    font-size: 1.5rem;
    padding: 10px;
    color: #014d4d;
    align-self: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.gender-category {
    display: flex;
    width: 20%;
    margin: 14px 0;
    justify-content: space-between; 
    margin-right: 40%;
}

.gender-category label {
    display: flex;
    align-items: center;
}

.gender-category .dot {
    height: 18px;
    width: 18px;
    background: white;
    border-radius: 50%;
    margin-left: 10px;
    border: 5px solid transparent;
}

#male:checked ~ .gender-category .one,
#female:checked ~ .gender-category .two {
    border-color: white;
    background: #014d4d;
}

.booking input[type="radio"] {
    display: none;
}

